/* Reset browser padding and margin */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body{
    height: 100%;
}


.nav{
    height: 55vh; 
    background-image: url(./Snapshot/12.jpg); 
    background-position: top; 
    background-repeat: no-repeat; 
    background-size: cover; 
    padding: 10px; 
}


.nav .navbar {
    
    margin-bottom: 5px;
}


.nav .navbar ul {
    
    display: flex;
    flex-direction: row;

     justify-content: space-between;

    align-items: center;
}


.nav .navbar ul li{
    
    list-style-type: none;
}



.nav .navbar ul li a{
    
    text-decoration: none;

    
    color: white;

    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



.nav .navbar ul li button{
    
    background-color: red;

    
    color: white;

    
    font-family: sans-serif;
    font-weight:600;

    padding: 6px 26px;

    border-radius: 15px;

    border: none;

    margin-right: 10px;

    cursor: pointer;
}



.nav .navbar ul li button:hover{
    transform: scale(1.2);

    
    transition: all .2s;
}


.navText {
 
    margin: auto;
   
    width: 38%;
    
    color: white;
}



.navText h1{
   
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    
    margin-bottom: 5px;

    font-size: 50px;
}



.navText p{
    
    line-height: 1.4;
    margin-bottom: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




.navText button{
    padding: 10px 28px;

    color: white;

    background-color: #36b8fe;

    border: none;

    border-radius: 25px;

    font-family: sans-serif;

    font-weight:800;

    cursor: pointer;
}



.navText button:hover{
    transform: scale(1.2);

    transition: all .3s;
}


.gallery{
    padding: 10px; 
    height: 50vh;
}



.gallery h2{
    text-align: center;

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    font-size: 36px;
}



.gallery .navButton{
    margin: auto;                      
    width: 38%;                         
    padding: 10px;                      
    display: flex;                      
    justify-content: space-around;     
    margin-top: 35px;                   
    margin-bottom: 15px;                
}



.gallery .navButton button{
   
    cursor: pointer;
    padding: 7px 26px;

    border-radius: 25px;
    border: 1px solid #36b8fe;
    background-color: transparent;
    color: #36b8fe;
    font-family: sans-serif;
    font-weight:700;
}



.gallery .navButton button:hover{
    background-color: #36b8fe;
    color: white;
}



.gallery .navButton button:first-child{
    background-color: #36b8fe;
    color: white;
}



.gallery .gallerypictures {
 
    width: 50%;
    margin: auto;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    row-gap: 15px;
    column-gap: 15px;

    transition-duration: 1s;
}



.galleryimg1 {
    background-image: url(./image/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.galleryimg2 {
   
    background-image: url(./image/2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 92%;
}


.galleryimg3{
    background-image: url(./image/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.galleryimg4{
    background-image: url(./image/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.galleryimg5{
    background-image: url(./image/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.galleryimg6{
    background-image: url(./image/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 85%;
    position: relative;
    top: -5px;
}
.galleryimg7{
    background-image: url(./image/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
}
.galleryimg8{
    background-image: url(./image/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
}

.area1{
        
    background-image: url(./image/0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 90%;
    background-color: darkslategray;
}


footer {

    display: hover;
    justify-content: center;
    align-items: left;
    height: 50px;
    min-width: 100vw;
}

